textarea {
  background-color: #f5f6fa;
  border: 0px;
  width: 75%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.answerButton {
  height: 30px;
  width: 75%;
  border: 0px;
  border-radius: 5px;
  background-color:#c23616;
  color: #f5f6fa;
  font-size: 1em;
  font-weight: 700;
}