.dashboard {
    background-color: #2f3640;
    color: #f5f6fa;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 5px;
}

a:-webkit-any-link {
    text-decoration: none;
    font-weight: bold;
}

text.chart-innertext-innertext-label,
text.chart-innertext-innertext-value,
.chart-innertext-legend,
.chart-innertext-legend-item-label {
    fill: #f5f6fa !important;
}

.board-link {
    text-align: center;
    font-size: 1.5em;
}