.dashboard {
    background-color: #2f3640;
    color: #f5f6fa;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 5px;
}

.dashboard > p {
    color: #EA7659;
    line-height: 1.8;
}

.board-link > a {
    text-decoration: none;
    font-weight: bold;
    color: #EA7659;

}

.user-stats {
    padding: 0;
}
.data-word {
    list-style-type: none;
    line-height: 1.8;
}

.board-link {
    text-align: center;
    font-size: 1.5em;
}