/* .feedback {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 245px;
} */


.feedback-correct {
  color: green;
}

.feedback-wrong {
  color: red;
}

.feedback-correct-2 {
  color: #2f3640;
}

.feedback-correct-highlight {
  color: green;
  font-weight: bold;
}

