h1 {
    font-family: 'Lato', sans-serif;
    color: #EA7659;
}

.logout-button {
    border: 0px;
    border-radius: 5px;
    background-color:#c23616;
    color: #f5f6fa;
    font-weight: 700;
    margin-bottom: 5px;
    height: 2em;
  }