.login-container {
    background-color: #2f3640;
    width: 300px;
    height: 400px;
    padding-top: 15px;
    margin: 0 auto;
    color: #f5f6fa;
    border-radius: 5px;
}

a:-webkit-any-link {
    margin-top: 15px;
    color: #f5f6fa;
    text-decoration: none;
}

#username, #password, #passwordConfirm {
    font-size: 14px;
    width: 200px;
    text-align: center;
    padding-left: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: #f5f6fa;
    height: 30px;
    margin-top: 15px;
    color: #2f3640;
}

.login-button {
    margin-top: 15px;
    height: 40px;
    width: 75%;
    border: 0px;
    border-radius: 5px;
    background-color:#c23616;
    color: #f5f6fa;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 20px;
}