.login-container {
    background-color: #2f3640;
    width: 40%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    color: #f5f6fa;
    border-radius: 5px;
}

a:-webkit-any-link {
    margin-top: 15px;
    color: #f5f6fa;
    text-decoration: none;
}
/* 
label {
    margin-top: 10px;
} */

#username, #password {
    border-radius: 5px;
    border: 0px;
    background-color: #f5f6fa;
    height: 30px;
    margin-top: 15px;
    width: 75%;
    color: #2f3640;
}

.login-button {
    margin-top: 15px;
    height: 40px;
    width: 75%;
    border: 0px;
    border-radius: 5px;
    background-color:#c23616;
    color: #f5f6fa;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 20px;
}