.feedback-correct, .feedback-wrong {
    font-size: 2em;
}

.progress {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 550px;
}

.score {
    font-weight: bold;
    color: #c23616;
}

.parentScore {
    color: #2f3640;
}

